
.popup {
    margin: 100px auto;
    padding: 20px;
    background: #D8D8D8;
    border: 1px solid #666;
    width: 600px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    left: 300px;
}


table {
    color: black;
    text-align: right;
    font-weight: bold;
}

td {
    margin-bottom: 10px;
    margin-left: 10px;
}


input {
    font-size: 20px;
}


input[type="text"]{
   background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid grey;
   height: 34px;
   -webkit-appearance: none;
   border-radius:4px;
}

.greyed{
    color: dimgrey
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit {
    background-color: #4CAF50; /* Green */
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    border-radius:12px;
}

.submit:hover {
	background-color:#5cbf2a;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.submit:active {
	position:relative;
	top:1px;
}

.cancel {
    background-color: red;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    border-radius:12px;
}

.cancel:hover {
	background-color: darkred;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.cancel:active {
	position:relative;
	top:1px;
}

