.popup {
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 850px;
    border-radius: 6px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    right: 75px;
}

.form {
    text-align: left;
}

.nameInput {
    font-size: 20px;
    width: 200px;
    text-align: left;
}

.select {
    font-size: 12px;
    text-align: left;
}

.options {
    text-align: left;
    font-size: 20px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit {
    background-color: #4CAF50; /* Green */
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
}

.cancel {
    background-color: red;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
}