.config {
    text-align: center;

}

#position1{ 
    position:relative;
    left:-30px
}
#position2{ 
    position:relative;
    left:-15px
}
#position3{ 
    position:relative;
    left:-15px
}
#position4{ 
    position:relative;
    left:-48px
}

.config select {
   background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid grey;
   height: 34px;
   -webkit-appearance: none; 
}

input[type="text"]{
   background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid grey;
   height: 34px;
   -webkit-appearance: none; 
   border-radius: 4px;
}
input[type="number"]{

   background: white;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid grey;
   height: 34px;
   -webkit-appearance: none; 
   border-radius: 4px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:12px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    
}

button:disabled {
    background-color: darkgray;
}

button:disabled:hover {
    background-color: darkgray;
    box-shadow: none;
}

button:hover {
	background-color:#5cbf2a;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

