@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');



body {
    background: #4d4d4d;
    color: white;
    font: 18px 'Open Sans', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
}

h2 {
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}

p {
    margin: 0 auto;
    min-width: 320px;
    max-width: 800px;
}

.home-button {
    background-color: #e7e7e7;
    border: 2px solid darkgray;;
    color: black;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 24px 'Open Sans', sans-serif;
    width: 175px;
    height: 100px;
}

.home-button:hover {
    background-color: lightgray;
}

.divider {
    width:25px;
    height:auto;
    display:inline-block;
}

.content {
    background: #fff;
    color: #373737;
    width: 1000px;
    height: 800px;
    text-align: center;
}

.content > div {

    padding-top: 50px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
}

