
.home-button {
    -moz-box-shadow: 3px 4px 0px 0px #2d824f;
	-webkit-box-shadow: 3px 4px 0px 0px #2d824f;
	box-shadow: 3px 4px 0px 0px #2d824f;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #76b853), color-stop(1, #25ad49));
	background:-moz-linear-gradient(top, #76b853 5%, #25ad49 100%);
	background:-webkit-linear-gradient(top, #76b853 5%, #25ad49 100%);
	background:-o-linear-gradient(top, #76b853 5%, #25ad49 100%);
	background:-ms-linear-gradient(top, #76b853 5%, #25ad49 100%);
	background:linear-gradient(to bottom, #76b853 5%, #25ad49 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#76b853', endColorstr='#25ad49',GradientType=0);
	background-color:#76b853;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 24px 'Open Sans', sans-serif;
    width: 200px;
    height: 150px;
}
.home-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4cdb94), color-stop(1, #00f763));
	background:-moz-linear-gradient(top, #4cdb94 5%, #00f763 100%);
	background:-webkit-linear-gradient(top, #4cdb94 5%, #00f763 100%);
	background:-o-linear-gradient(top, #4cdb94 5%, #00f763 100%);
	background:-ms-linear-gradient(top, #4cdb94 5%, #00f763 100%);
	background:linear-gradient(to bottom, #4cdb94 5%, #00f763 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cdb94', endColorstr='#00f763',GradientType=0);
	background-color:#4cdb94;
}
.home-button:active {
	position:relative;
	top:1px;
}