table {
    border-collapse: collapse;
    width: 1150px;
    color: black;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: grey;
    color: white;
}