.content {
    background: lightgray;
    color: #373737;
    width: 94.9%;
    height: 80%;
    text-align: center;
    padding-top: 50px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
}