
ul {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 1150px;
    padding-right: 50px;
    padding-left: 0;
    overflow: hidden;
    list-style-type: none;
    background: #A3C159;
    margin: 0;
}


li{
  float: left;
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-right: 1px solid #FFF;
}
li:hover {
    background: #1BA6B2;
}


