.content {
    background: grey;
    color: #373737;
    text-align: center;
    padding-top: 50px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    align-content: center;
    width: 1100px;
    height: 450px;
}