<table>
    <tr>
        <th>Policy Group Name:</th>
        <th>Routers:
            <button class="add" (click)="onNewRouterClick()">+</button>
        </th>
    </tr>
    <tr>
        <td>
            <select #policyGroupName>
                <option *ngFor="let policy of policyGroups" [value]="policy.policyGroupName">{{policy.policyGroupName}}</option>
            </select>
        </td>
        <td>
            <div class="options">
        Routers:
        <div *ngFor="let router of routers">
            <input class="select" type="checkbox" name="routers" value="{{ router.routerName }}" (change)="setSelected(router.routerName, $event)" />{{ router.routerName }}
        </div>
    </div>
        </td>
        <td>
            <button class="submit" (click)="onSubmit(policyGroupName.value);
                policyGroupName.value='';">
                Submit
            </button>
            <button class="cancel" (click)="onCancel()">Cancel</button>
        </td>
    </tr>
</table>
<new-router *ngIf="openNewRouterModal" (submitNewRouter)="submitNewRouter($event)" (closeRouterModal)="closeNewRouterModal()"></new-router>
<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>