<table>
    <tr>
        <th>Name: </th>
        <th>Destination Group:
            <button class="add">+</button>
        </th>
        <th>Sensor:
            <button class="add">+</button>
        </th>
        <th>Interval:</th>
    </tr>
    <tr>
        <td><input class="name-input" #subscriptionName /></td>
        <td>
            <select #destinationGroupName>
                <option *ngFor="let group of destinationGroups" [value]="group.destinationGroupName">{{group.destinationGroupName}}</option>
            </select>
        </td>
        <td>
            <select #sensorName>
                <option *ngFor="let sensor of sensors" [value]="sensor.sensorName">{{sensor.sensorName}}</option>
            </select>
        </td>
        <td>
            <input class="number-input" type="number" min="0" step="1" #subscriptionInterval />
        </td>
        <td>
            <button class="submit" (click)="onSubmit(subscriptionName.value, destinationGroupName.value,
                sensorName.value, subscriptionInterval.value);
                subscriptionName.value=''; destinationGroupName.value=''; sensorName.value=''; subscriptionInterval.value=''">
                Submit
            </button>
            <button class="cancel" (click)="onCancel()">Cancel</button>
        </td>
    </tr>
</table>

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>