<div class="popup">
    <h2>New Destination Group</h2>
    <table>
        <tr>
            <td>
               Name: <input type="text" #name />
            </td>
        </tr>
        <tr>
            <td>
                Address: <input type="text" #address />
            </td>
            <td>
                Encoding: <br/>
                <input type="radio" name="encoding" value="SELF-DESCRIBING-GPB" checked="checked" #encoding /> SELF-DESCRIBING-GPB
                <input type="radio" name="encoding" value="GPB" disabled="true" #encoding /> <span class="greyed">GPB</span>
            </td>
        </tr>
        <tr>
            <td>
               Port: <input type="text" #port />
            </td>
            <td>
                Protocol: <br/>
                <input type="radio" name="protocol" value="tcp" checked="checked" #protocol /> TCP
                <input type="radio" name="protocol" value="grpc" disabled="true" #protocol /> <span class="greyed">GRPC</span>
            </td>
        </tr>
    </table>

    <button class="submit" (click)="submit(name.value, address.value, encoding.value, port.value, protocol.value)">Submit</button>
    <button class="cancel" (click)="cancel()">Cancel</button>
</div>