<div class="popup">
    <h2>New Policy</h2>
    <table>
        <tr>
            <td>
            Name: <input type="text" #name />
            </td>
            <td>
            Version: <input type="number" min="1" step="1" #version />
            </td>
        </tr>
        <tr>
            <td>
                Description: <input type="text" #description />
            </td>
            <td>
                Comment: <input type="text" #comment />
            </td>
        </tr>
        <tr>
            <td>
            Identifier: <input type="text" #identifier />
            </td>
            <td>
                Period: <input type="number" min="0" step="1" #period />
            </td>
        </tr>
    </table>
    <div class="options">
        Paths:
        <div *ngFor="let path of paths">
            <input class="select" type="checkbox" name="paths" value="{{ path }}" (change)="setSelected(path, $event)" />{{ path }}
        </div>
    </div>

    <button class="submit" (click)="submit(name.value, version.value, description.value, comment.value, identifier.value, period.value)">Submit ✓</button>
    <button class="cancel" (click)="cancel()">Cancel ✗</button>
</div>