<div class="popup">
    <div class="form">
        <h2>New Router</h2>
        <table>
            <tr>
                <td class="text">
                    Router Name:
                </td>
                <td>
                    <input class="nameInput" type="text" #routerName />
                </td>
                <td class="text">
                    Router Address:
                </td>
                <td>
                    <input class="nameInput" type="text" #routerAddress />
                </td>
            </tr>
            <tr>
                <td class="text">
                    Username:
                </td>
                <td>
                    <input class="nameInput" type="text" [value]="configData.username" #username />
                </td>
                <td class="text">
                    Password:
                </td>
                <td>
                    <input class="nameInput" type="text" [value]="configData.password" #password />
                </td>
            </tr>
            <tr>
                <td class="text">
                    Config Type:
                </td>
                <td>
                    <select id="configType" [(ngModel)]="configOption" (change)="changePort()" #configType>
                        <option *ngFor="let option of configOptions" [value]="option">{{option}}</option>
                    </select>
                </td>
                <td class="text">
                    Port:
                </td>
                <td>
                    <input class="nameInput" type="number" [(ngModel)]="routerPort" #port />
                </td>
            </tr>
    </table>
    </div>
    <button class="submit" (click)="submit(routerName.value, routerAddress.value, username.value, password.value, configType.value, port.value)">Submit</button>
    <button class="cancel" (click)="cancel()">Cancel</button>
</div>