<div class="popup">
    <h2>New Policy</h2>
    <table>
        <tr>
            <td>
               Name: <input type="text" #name />
            </td>
        </tr>
        <tr>
            <td>
                Description: <input type="text" #description />
            </td>
            <td>
                Comment: <input type="text" #comment />
            </td>
        </tr>
        <tr>
            <td>
               Identifier: <input type="text" #identifier />
            </td>
            <td>
                Period: <input type="number" #period />
            </td>
        </tr>
    </table>

    <button class="submit" (click)="submit(name.value, description.value, comment.value, identifier.value, period.value)">Submit</button>
    <button class="cancel" (click)="cancel()">Cancel</button>
</div>