<div class="popup">

    <form>
    <h2>New Destination Group</h2>
    <table>
        <tr>
            <td>
               Name: <input type="text" #name  required />
            </td>
        </tr>
        <tr>
            <td>
                Address: <input type="text" #address required pattern="(^(\d{1,3}\.){3}(\d{1,3})$)|(^([\da-fA-F]{1,4}:){7}([\da-fA-F]{1,4})$)" title="ipv4 or ipv6 address" />
            </td>
            <td>
                Encoding: <input type="text" #encoding required />
            </td>
        </tr>
        <tr>
            <td>
               Port: <input type="text" #port required pattern="^\d{1,5}$"  title="a number between 0 and 65535" />
            </td>
            <td>
                Protocol: <input type="text" #protocol pattern="/TCP||UDP/i" title="TCP or UDP" required />
            </td>
        </tr>
    </table>

    <button class="submit" (click)="submit(name.value, address.value, encoding.value, port.value, protocol.value)">Submit</button>
    <button type="button" class="cancel" (click)="cancel()">Cancel</button>

    </form>

</div>