<div class="config">
    <h2>Set Config:</h2>
    <div>
        Configuration Options:
    </div>
    <div>
        <select id="configOption" required [(ngModel)]="configDataService.config.configOption"
                name="configOption" #configOption="ngModel">
            <option *ngFor="let option of configOptions" [value]="option">{{option}}</option>
        </select>
    </div>
    <div>
        Router Default Username:
    </div>
    <div>
        <input type="text" [value]="configDataService.config.username" #username />
    </div>
    <div>
        Router Default Password:
    </div>
    <div>
        <input type="text" [value]="configDataService.config.password" #password />
    </div>
    <div>
        Default TCP Port:
    </div>
    <div>
        <input type="number" [value]="configDataService.config.port" min="0" step="1" #port />
    </div>
    <button (click)="onSubmit(configOption.value, username.value, password.value, port.value)" [disabled]="disableSubmit">Submit</button>
</div>