<table>
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>Destination Group</th>
    <th>Sensor</th>
    <th>Interval</th>
    <th>Delete</th>
</tr>
<tr *ngFor="let sub of subscriptions">
    <td>{{ sub.subscriptionId }}</td>
    <td>{{sub.subscriptionName}}</td>
    <td><a href="javascript:void(0)" (click)=onDestinationGroupClick(sub.destinationGroupName)>{{sub.destinationGroupName}}</a></td>
    <td>{{sub.sensorName}}</td>
    <td>{{sub.subscriptionInterval}}</td>
    <td><a href="javascript:void(0)" (click)="onDelete(sub)">delete</a></td>
</tr>
</table>
<div *ngIf='viewDestinationGroup'>
    <view-destination-group  (close)="viewDestinationGroupClose()" [destinationGroup]='destinationGroup' ></view-destination-group>
</div>
<div *ngIf="errorMessage">{{errorMessage}}</div>
