<div class="popup">
    <h2>View Subscription</h2>
    <table *ngIf="subscription">
        <tr>
            <td>
               ID: <span class="attribute">{{subscription.subscriptionID}}</span>
            </td>
            <td>
               Name: <span class="attribute">{{subscription.subscriptionName}}</span>
            </td>
        </tr>
        <tr>
            <td>
                Destination Group: <span class="attribute">{{subscription.destinationGroupName}}</span>
            </td>
            <td>
                Sensor: <span class="attribute">{{subscription.sensor}}</span>
            </td>
        </tr>
        <tr>
            <td>
                Interval: <span class="attribute">{{subscription.interval}}</span>
            </td>
        </tr>
    </table>

    <button class="close" (click)="closeModal()">Close</button>
</div>


