<div class="popup">
    <h2>View Policy</h2>
    <table *ngIf="policy">
        <tr>
            <td>
               Name: <div class="attribute">{{policy.policyName}}</div>
            </td>
            <td>
               Version: <div class="attribute">{{policy.policyVersion}}</div>
            </td>
        </tr>
        <tr>
            <td>
                Description: <div class="attribute">{{policy.policyDescription}}</div>
            </td>
            <td>
                Comment: <div class="attribute">{{policy.policyComment}}</div>
            </td>
        </tr>
        <tr>
            <td>
               Identifier: <div class="attribute">{{policy.policyIdentifier}}</div>
            </td>
            <td>
                Period: <div class="attribute">{{policy.policyPeriod}}</div>
            </td>
        </tr>   
        <tr>
          <td colspan="2"> Paths:
              <ul>
                <li *ngFor="let path of policy.policyPath">{{path}}</li>
            </ul>
        </td>
        </tr> 
    </table>

    

    <button class="close" (click)="closeModal()">Close</button>
</div>