<div class="popup">
    <h2>View Router</h2>
    <table *ngIf="router">
        <tr>
            <td>
                Router Name: <div class="attribute">{{router.routerName}}</div>
            </td>
            <td>
                Router Address: <div class="attribute">{{router.routerAddress}}</div>
            </td>
        </tr>
        <tr>
            <td>
                Username:<div class="attribute">{{router.routerUsername}}</div>
            </td>
            <td>
                Password: <div class="attribute">{{router.routerPassword}}</div>
            </td>
        </tr>
        <tr>
            <td>
                Config Type:<div class="attribute">{{router.configType}}</div>
            </td>
            <td>
                Port: <div class="attribute">{{router.routerPort}}</div>
            </td>
        </tr>
    </table>
    <button class="close" (click)="closeModal()">Close</button>
</div>


