<div class="popup">
    <h2>View Collector</h2>
    <table *ngIf="collector">
        <tr>
            <td>
               Name: <div class="attribute">{{collector.collectorName}}</div>
            </td>
        </tr>
        <tr>
            <td>
                Address: <div class="attribute">{{collector.collectorAddress}}</div>
            </td>
            <td>
                Encoding: <div class="attribute">{{collector.collectorEncoding}}</div>
            </td>
        </tr>
        <tr>
            <td>
               Port: <div class="attribute">{{collector.collectorPort}}</div>
            </td>
            <td>
                IP Family Type: <div class="attribute">{{collector.collectorProtocol}}</div>
            </td>
        </tr>
    </table>

    <button class="close" (click)="closeModal()">Close</button>
</div>


